<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @cocktail.photo %>);">
  <div class="container">
    <h1><strong><%=  @cocktail.name%></strong></h1>
  </div>
</div>
<div class="container">
  <div class="d-flex justify-content-around">
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.submit "Add an ingredient", class: "btn btn-primary" %>
    <% end %>
    <% @cocktail.doses.each do |dose| %>
      <%= dose.description %>
      <%= dose.ingredient.name %>
      <%= link_to "Delete", dose_path(dose),
          method: :delete,
          data: { confirm: "Are you sure?" }, class: "btn btn-danger"%>
    <% end %>
  </div>
<%= link_to 'Back to the cocktails list', cocktails_path, class: "btn btn-primary" %>
</div>
